### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
total_school= school_data["School ID"].count()
print(f"Total number of schools :{total_school}")

total_student= student_data["Student ID"].count()
print(f"Total number of students :{total_student}")

total_budget= school_data["budget"].sum()
print(f"Total Budget :{total_budget}")

avg_math_score= student_data["maths_score"].mean()
avg_math_score= round(avg_math_score,6)
print(f"Average math score :{avg_math_score}")


avg_reading_score= student_data["reading_score"].mean()
avg_reading_score= round(avg_reading_score,6)
print(f"Average reading score :{avg_reading_score}")


pass_count_s= student_data[student_data['maths_score'] >=50].count()
pass_count=pass_count_s["Student ID"]
passing_percentage_math = round(pass_count/total_student*100,6)
print(f"Passing percentage math :{passing_percentage_math}")

pass_count_s1= student_data[student_data['reading_score'] >=50].count()
pass_count_r=pass_count_s1["Student ID"]
passing_percentage_read = round(pass_count_r/total_student*100,6)
print(f"Passing percentage read :{passing_percentage_read}")

#Calculating over all_passing_percentage
df= student_data[(student_data['maths_score'] >=50) & (student_data['reading_score'] >=50)]
total_passingcount=df["Student ID"].count()
overall_passing_per= round(total_passingcount/total_student*100,6)
print(f"Over All Passing Percentage :{overall_passing_per}")


####################################################################################################
area_summary  =pd.DataFrame({
    'Total Schools': [total_school],
    'Total Students': [total_student],
    'Total Budget': [total_budget],
    'Average Maths Score':[avg_math_score],
    'Average Reading Score':[avg_reading_score],
    '% Passing Maths':[passing_percentage_math],
    '% Passing Reading':[passing_percentage_read],
    '% Overall Passing':[overall_passing_per]
    })

area_summary 
####################################################################################################

Total number of schools :15
Total number of students :39170
Total Budget :24649428
Average math score :70.338192
Average reading score :69.980138
Passing percentage math :86.078632
Passing percentage read :84.426857
Over All Passing Percentage :72.808272

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
school_data_complete

##Cleaning data frame: Cleaning is not needed as the data is clean

#Drop null value
#school_data_complete_clean=school_data_complete.dropna(how='any')
#school_data_complete_clean.count()

#Drop duplicates 
#school_data_complete_clean1=school_data_complete.drop_duplicates()
#school_data_complete_clean1.count()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [4]:
school_summary_df1=school_data_complete.groupby(["School ID","school_name","type"], as_index=False)["Student ID"].count()
school_summary_df2=school_data_complete.groupby(["School ID"], as_index=False)["budget"].mean()
school_summary_df3=school_data_complete.groupby(["School ID"], as_index=False)["maths_score"].mean()
school_summary_df4=school_data_complete.groupby(["School ID"], as_index=False)["reading_score"].mean()

school_summary_df5=pd.merge(school_summary_df1, school_summary_df2, how="left", on=["School ID"])
school_summary_df6=pd.merge(school_summary_df5, school_summary_df3, how="left", on=["School ID"])
school_summary_df7=pd.merge(school_summary_df6, school_summary_df4, how="left", on=["School ID"])


school_summary_df8=school_summary_df7[["school_name","type","Student ID","budget","maths_score","reading_score"]]
school_summary_df8.set_index("school_name",inplace=True)
school_summary_df9=school_summary_df8.rename(columns=
                                            {"type":"School Type" ,
                                             "Student ID":"Total Students" ,
                                             "budgety":"Total School Budget",
                                             "maths_score":"Average Math Score",
                                             "reading_score":"Average Reading Score"
                                            })
school_summary_df10=school_summary_df9.sort_values("school_name",ascending=True)
school_summary_df10

,School Type,Total Students,budget,Average Math Score,Average Reading Score
school_name,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842
Cabrera High School,Independent,1858,1081356,71.657158,71.359526
Figueroa High School,Government,2949,1884411,68.698542,69.077993
Ford High School,Government,2739,1763916,69.091274,69.572472
Griffin High School,Independent,1468,917500,71.788147,71.245232
Hernandez High School,Government,4635,3022020,68.874865,69.186408
Holden High School,Independent,427,248087,72.583138,71.660422
Huang High School,Government,2917,1910635,68.935207,68.910525
Johnson High School,Government,4761,3094650,68.843100,69.039277
Pena High School,Independent,962,585858,72.088358,71.613306
Rodriguez High School,Government,3999,2547363,72.047762,70.935984
Shelton High School,Independent,1761,1056600,72.034072,70.257808
Thomas High School,Independent,1635,1043130,69.581651,69.768807
Wilson High School,Independent,2283,1319574,69.170828,68.876916
Wright High School,Independent,1800,1049400,72.047222,70.969444

In [5]:
##Determine % passing maths (the percentage of students who passed maths)

Passing_Maths_cnt = school_data_complete[school_data_complete["maths_score"]>=50]
per_school_passing_math = Passing_Maths_cnt.groupby(["school_name"]).count()["Student ID"]
#Determine total count of maths
math_tot_count=school_data_complete.groupby(["school_name"]).count()["Student ID"]
#math_tot_count
school_summary_df10["% Passing Maths"]= (per_school_passing_math/math_tot_count)*100

#print(per_school_passing_math)
#print(math_tot_count)

##Determine % passing reading (the percentage of students who passed reading)

Passing_Reading_cnt = school_data_complete[school_data_complete["reading_score"]>=50]
per_school_passing_read = Passing_Reading_cnt.groupby(["school_name"]).count()["Student ID"]
#per_school_passing_read
#Determine total count of maths
read_tot_count=school_data_complete.groupby(["school_name"])["Student ID"].count()
#math_tot_count
school_summary_df10["% Passing Reading"]= (per_school_passing_read/math_tot_count)*100
school_summary_df10

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading
school_name,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667

In [6]:
##Determining over all passing %

both_pass_cnt = school_data_complete[(school_data_complete["maths_score"]>=50) &
                                    (school_data_complete["reading_score"]>=50 )]

#both_pass_cnt
per_school_both_pass_cnt= both_pass_cnt.groupby(["school_name"]).count()["Student ID"]
total_student_cnt=school_data_complete.groupby(["school_name"]).count()["Student ID"]
school_summary_df10["% overall passing"]= (per_school_both_pass_cnt/total_student_cnt)*100
per_school_summary = school_summary_df10
per_school_summary

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
school_name,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222

# Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [7]:
top_schools =per_school_summary.sort_values(["% overall passing"],ascending=False)
top_schools .head(5)

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
school_name,,,,,,,,
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [8]:
bottom_schools=per_school_summary.sort_values(["% overall passing"],ascending=True)
bottom_schools.head(5)

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
school_name,,,,,,,,
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [9]:
Year9_data = school_data_complete[school_data_complete["year"]==9]
Year9 = Year9_data.groupby(["school_name"]).mean()["maths_score"]

Year10_data = school_data_complete[school_data_complete["year"]==10]
Year10 = Year10_data.groupby(["school_name"]).mean()["maths_score"]

Year11_data = school_data_complete[school_data_complete["year"]==11]
Year11 = Year11_data.groupby(["school_name"]).mean()["maths_score"]

Year12_data = school_data_complete[school_data_complete["year"]==12]
Year12 = Year12_data.groupby(["school_name"]).mean()["maths_score"]

maths_scores_by_year  =pd.concat([Year9, Year10,Year11,Year12], axis=1)

# Changing columns name with index number
maths_scores_by_year .columns.values[0] = "Year9"
maths_scores_by_year .columns.values[1] = "Year10"
maths_scores_by_year .columns.values[2] = "Year11"
maths_scores_by_year .columns.values[3] = "Year12"

maths_scores_by_year

                           Year9     Year10     Year11     Year12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [10]:
Year9_data = school_data_complete[school_data_complete["year"]==9]
Year9 = Year9_data.groupby(["school_name"]).mean()["reading_score"]

Year10_data = school_data_complete[school_data_complete["year"]==10]
Year10 = Year10_data.groupby(["school_name"]).mean()["reading_score"]

Year11_data = school_data_complete[school_data_complete["year"]==11]
Year11 = Year11_data.groupby(["school_name"]).mean()["reading_score"]

Year12_data = school_data_complete[school_data_complete["year"]==12]
Year12 = Year12_data.groupby(["school_name"]).mean()["reading_score"]

reading_scores_by_year  =pd.concat([Year9, Year10,Year11,Year12], axis=1)

# Changing columns name with index number
reading_scores_by_year.columns.values[0] = "Year9"
reading_scores_by_year.columns.values[1] = "Year10"
reading_scores_by_year.columns.values[2] = "Year11"
reading_scores_by_year.columns.values[3] = "Year12"

reading_scores_by_year

                           Year9     Year10     Year11     Year12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [11]:
school_summary_df10

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
school_name,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222

In [12]:
school_spending_df= school_summary_df10
#This command can run only once
#del school_spending_df["School Type"]

school_spending_df["Spending Per Student"]=school_spending_df["budget"]/school_spending_df["Total Students"]

#Added this line as the pd.cut was giving error ValueError: setting an array element with a sequence
spending_perstud= school_spending_df["budget"]/school_spending_df["Total Students"]
school_spending_df

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing,Spending Per Student
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405,628.0
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791,582.0
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051,639.0
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880,644.0
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150,625.0
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617,652.0
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717,581.0
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376,655.0
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766,650.0
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979,609.0
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855,637.0
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639,600.0
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122,638.0
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103,578.0
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222,583.0

In [13]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df["Spending Ranges(Per Student)"]=pd.cut(np.array(school_spending_df["Spending Per Student"]),spending_bins,labels=labels)
school_spending_df

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing,Spending Per Student,Spending Ranges(Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405,628.0,$585-630
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791,582.0,<$585
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051,639.0,$630-645
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880,644.0,$630-645
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150,625.0,$585-630
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617,652.0,$645-680
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717,581.0,<$585
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376,655.0,$645-680
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766,650.0,$645-680
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979,609.0,$585-630
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855,637.0,$630-645
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639,600.0,$585-630
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122,638.0,$630-645
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103,578.0,<$585
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222,583.0,<$585

In [14]:
spending_maths_scores = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["Average Reading Score"]
spending_passing_maths = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Maths"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges(Per Student)"]).mean()["% overall passing"]
type(spending_maths_scores)

pandas.core.series.Series

In [15]:
df_spending_maths_scores= pd.DataFrame(spending_maths_scores)
df_spending_reading_score = pd.DataFrame(spending_reading_scores)
df_spending_passing_maths = pd.DataFrame(spending_passing_maths)
df_spending_passing_reading = pd.DataFrame(spending_passing_reading)
df_overall_passing_spending = pd.DataFrame(overall_passing_spending)

spending_summary   = pd.concat([df_spending_maths_scores, df_spending_reading_score, df_spending_passing_maths,df_spending_passing_reading,df_overall_passing_spending ]
                                         , axis=1)
spending_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
Spending Ranges(Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
school_size_df= school_summary_df10
#This command can run only once
#del school_size_df["Spending Ranges(Per Student)"]
#del school_size_df["Spending Per Student"] 
school_size_df

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing,Spending Per Student,Spending Ranges(Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405,628.0,$585-630
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791,582.0,<$585
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051,639.0,$630-645
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880,644.0,$630-645
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150,625.0,$585-630
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617,652.0,$645-680
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717,581.0,<$585
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376,655.0,$645-680
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766,650.0,$645-680
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979,609.0,$585-630
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855,637.0,$630-645
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639,600.0,$585-630
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122,638.0,$630-645
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103,578.0,<$585
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222,583.0,<$585

In [17]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_size_df["School Size"]=pd.cut(school_size_df["Total Students"],size_bins,labels=labels)
school_size_df

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing,Spending Per Student,Spending Ranges(Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405,628.0,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791,582.0,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051,639.0,$630-645,Large (2000-5000)
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880,644.0,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150,625.0,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617,652.0,$645-680,Large (2000-5000)
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717,581.0,<$585,Small (<1000)
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376,655.0,$645-680,Large (2000-5000)
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766,650.0,$645-680,Large (2000-5000)
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979,609.0,$585-630,Small (<1000)
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855,637.0,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639,600.0,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122,638.0,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103,578.0,<$585,Large (2000-5000)
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222,583.0,<$585,Medium (1000-2000)

In [18]:
size_maths_scores = school_size_df.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = school_size_df.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_maths = school_size_df.groupby(["School Size"]).mean()["% Passing Maths"]
size_passing_reading = school_size_df.groupby(["School Size"]).mean()["% Passing Reading"]
size_over_all_passing = school_size_df.groupby(["School Size"]).mean()["% overall passing"]
size_maths_scores

School Size
Small (<1000)         72.335748
Medium (1000-2000)    71.421650
Large (2000-5000)     69.751809
Name: Average Math Score, dtype: float64

In [19]:
df_size_maths_scores= pd.DataFrame(size_maths_scores)
df_size_reading_score = pd.DataFrame(size_reading_scores)
df_size_passing_maths = pd.DataFrame(size_passing_maths)
df_size_passing_reading = pd.DataFrame(size_passing_reading)
df_size_over_all_passing = pd.DataFrame(size_over_all_passing)

size_summary  = pd.concat([df_size_maths_scores, df_size_reading_score, df_size_passing_maths,df_size_passing_reading,df_size_over_all_passing]
                                         , axis=1)
size_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

## Scores by School Type

* Perform the same operations as above, based on school type

In [20]:
type_summary= school_summary_df10
type_summary

,School Type,Total Students,budget,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing,Spending Per Student,Spending Ranges(Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,3124928,72.352894,71.008842,91.639871,87.379421,80.084405,628.0,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,1081356,71.657158,71.359526,90.850377,89.074273,80.785791,582.0,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,1884411,68.698542,69.077993,81.654798,82.807731,67.650051,639.0,$630-645,Large (2000-5000)
Ford High School,Government,2739,1763916,69.091274,69.572472,82.438846,82.219788,67.469880,644.0,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,917500,71.788147,71.245232,91.212534,88.487738,81.335150,625.0,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,3022020,68.874865,69.186408,80.949299,81.877023,66.364617,652.0,$645-680,Large (2000-5000)
Holden High School,Independent,427,248087,72.583138,71.660422,89.929742,88.524590,78.922717,581.0,<$585,Small (<1000)
Huang High School,Government,2917,1910635,68.935207,68.910525,81.693521,81.453548,66.712376,655.0,$645-680,Large (2000-5000)
Johnson High School,Government,4761,3094650,68.843100,69.039277,82.062592,81.978576,67.191766,650.0,$645-680,Large (2000-5000)
Pena High School,Independent,962,585858,72.088358,71.613306,91.683992,86.590437,79.209979,609.0,$585-630,Small (<1000)
Rodriguez High School,Government,3999,2547363,72.047762,70.935984,90.797699,87.396849,79.419855,637.0,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,1056600,72.034072,70.257808,91.538898,86.712095,78.875639,600.0,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,1043130,69.581651,69.768807,83.853211,82.629969,69.480122,638.0,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,1319574,69.170828,68.876916,82.785808,81.296540,67.455103,578.0,<$585,Large (2000-5000)
Wright High School,Independent,1800,1049400,72.047222,70.969444,91.777778,86.666667,79.722222,583.0,<$585,Medium (1000-2000)

In [21]:
type_maths_scores = type_summary.groupby(["School Type"]).mean()["Average Math Score"]
type_reading_scores = type_summary.groupby(["School Type"]).mean()["Average Reading Score"]
type_passing_maths = type_summary.groupby(["School Type"]).mean()["% Passing Maths"]
type_passing_reading = type_summary.groupby(["School Type"]).mean()["% Passing Reading"]
type_over_all_passing = type_summary.groupby(["School Type"]).mean()["% overall passing"]
type_maths_scores

School Type
Government     69.834806
Independent    71.368822
Name: Average Math Score, dtype: float64

In [22]:
df_type_maths_scores= pd.DataFrame(type_maths_scores)
df_type_reading_score = pd.DataFrame(type_reading_scores)
df_type_passing_maths = pd.DataFrame(type_passing_maths)
df_type_passing_reading = pd.DataFrame(type_passing_reading)
df_type_over_all_passing = pd.DataFrame(type_over_all_passing)

df_type_summary  = pd.concat([df_type_maths_scores, df_type_reading_score, df_type_passing_maths,df_type_passing_reading,df_type_over_all_passing]
                                         , axis=1)
df_type_summary

,Average Math Score,Average Reading Score,% Passing Maths,% Passing Reading,% overall passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340

## Summary of the Analysis
    
Two different data sets i.e school and students are combined to perform analysis. In this analysis the main data points are Average Math Score,	Average Reading Score,	% Passing Maths,	% Passing Reading,	% overall passing and Spending Per Student . These data points were derives based on individual schools, schools type , budget per student and size of the school.

## Conclusion
    1. Expenditure with in $585-630 range per student yield maximum passing percentage.
    2. Smaller school less than 1000 student has performs better as compared to larger schools.
    3. Independent schools performs better than goverment schools.
    4. Griffin High School is the best performing school.
    5. Hernandez High School is the worst perfroming school.